<html>
	<head>
	<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "f07d2793-d976-4564-a34a-455e9d897d8f",
    });
  });
</script>
	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js">
		</script>
		
			<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background: black;
   color:ivory;
   text-align: center;
	
}
</style>
		
		<style>
body {margin:0;}

.icon-bar {
  position: fixed;
  top: 47%;
	right:0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 60px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.whatsapp {
  background:#4FCE5D;
  color:#4FCE5D;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}
	
	
	
	
.icon-barl {
  position: fixed;
  top: 47%;
	
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
	
.icon-barl a {
  display: block;
  text-align: center;
  padding: 12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 70px;
}


</style>
	
						
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	</head>
	<body>
		
		
	<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
	  var xo = document.getElementById("myDIVI");
  if (xo.style.display === "none") {
    xo.style.display = "block";
  } else {
    xo.style.display = "none";
  }
}
		</script>
		<div class='onesignal-customlink-container'></div>
		<table class="table " style="font-size:33px;">
  <thead class="thead-dark" style="">
	  <div class='onesignal-customlink-container'></div>
    <tr>
      <th scope="col">#</th>
      <th scope="col">STATE</th>
      <th scope="col">CASES</th>
      <th scope="col">RECOVERED</th>
		 <th scope="col">DEATHS</th>
		 <th scope="col">UPDATED</th>
		
		
    </tr>
  </thead>
  <tbody style="">
	  <% var s;var c;var r;var d;var l%>
			<% var count=1; items.forEach(function(item){ %>
	 <%if(item.state=="Total"){  s=item.state;c=item.confirmed;r=item.recovered;d=item.deaths;l=item.lastupdatedtime}else{%>
	    <tr>
      <th scope="row"><%=count%></th>
      <td style="color:brown"><%=item.state%></td>
      <td style="color:brown"><%=item.confirmed%></td>
	 <td style="color:green"><%=item.recovered%></td>
      <td style="color:red"><%=item.deaths%></td>
	   <td style="color:purple"><%=item.lastupdatedtime%></td>
    </tr>
		

	<%count++;} })%>
	  
	   
		  <tr>
      <th scope="row"><%=count%></th>
      <td style="color:brown"><%=s%></td>
      <td style="color:brown"><%=c%></td>
	 <td style="color:green"><%=r%></td>
      <td style="color:red"><%=d%></td>
	   <td style="color:purple"><%=l%></td>
    </tr>
	 </tbody>
</table>
		<div class="icon-bar" id="myDIV" style="display:none;"> 
		
			
			
			 <a href="https://wa.me/919532501491" class="whatsapp"><i class="fab fa-whatsapp"></i></a>
			
			  <a href="mailto:pushkarmaurya20052001@gmail.com" class="google"><i class="fas fa-envelope"></i></a>
			
  <a href="https://in.linkedin.com/in/pushkar-maurya-3b306418b" class="linkedin"><i class="fab fa-linkedin"></i></a>
  <a href="https://www.facebook.com/pushkar.maurya.77" class="facebook"><i class="fab fa-facebook"></i></a> 
  <a href="https://twitter.com/Pushkar28670813" class="twitter"><i class="fab fa-twitter"></i></a> 

  
</div>
		
		<div class="icon-barl" id="myDIVI" style="display:none;">

			<a href="https://www.superprof.co.in/iiit-bhagalpur-student-will-teach-you-full-stack-web-devlopment.html" style="color:ivory;background: #007ab8;"><i class="fas fa-reply-all"></i></a>
			<a href="https://github.com/PUSHKARMAURYA" style="color:;background:black;"><i class="fab fa-github"></i></a>
		
		<a href="https://www.quora.com/profile/Pushkar-Maurya-2" style="color:;background:brown;"><i class="fab fa-quora"></i></a>
		</div>
		
			<br>
		<br>
		<br>
		<br>
			<br>
		<br>
		
		<div class="footer" style="font-size:40px;">
		<div class="row">
			<div class="col-6">
						<a href="#">
<a onclick="myFunction()"><i class="fas fa-phone"></i>CONTACT US</a>
							</a>
				<br>
			</div>
			<div class="col-6">
				<a href="/">
				<i class="fas fa-viruses"></i>COVID19 UPDATES</a>
				<br>
			</div>
			</div>
			<div>
				<div class='onesignal-customlink-container'></div>
				  <a href="https://www.superprof.co.in/iiit-bhagalpur-student-will-teach-you-full-stack-web-devlopment.html" style="font-size:37px;color:ivory"><i class="fas fa-reply-all"></i>     Devloped by pushkarmaurya.co</a>
			</div>


	
			
</div>
		
	</body>
	
	
	
</html>

	
	