<html>
	<head>
	
		<script type="text/javascript" data-cfasync="false">
/*<![CDATA[/* */
(function(){var a=['UVQ4w5nDoiLDrsKawrYQBMOCMA==','N8KwUyHCu8Kfw5taQsOew5hrwovDssK7wqHCtDDDnmp+WMOlwoHDncKVI8K2eMOpW2cywoE=','w5ZrX8KyMAfCm8K2w4/CnMOKw50CYQ==','w6LDnyAQFMKR','S8KFKHUDwqzCi8O8','HDbDqsO2w59d','w4lqSsK1LAzCjA==','FkUZw55Rw7srQsKibgMS','PsOyBsOXTAtqTcK+NMKqW8KYG8KZ','AMOWw5sZw7Axw459ZEHDuhzDsX9Xw6zDhiNOw6hfKQ==','bcOQfsOvw6l1A8KOZA==','P8Kkw4DDtcKU','wrtlw58BdcOgw5tc','c8ObUcKLRA9SNQ==','w4JhQ8KmJyHCm8Kww4vCqcOKw4E=','w7vCgDRVwoZHw5c=','wrZkw48RasOxw7dNNAwRVw==','Bj7DscO5w6NLw50Kw6PDjn4XwosEw5zDg2oiw4s=','w7NTwpjDmsOjw7RSwpJbw7ht','w7HCpVLDg8O2wpXCvMOQLcKkwrDCpkM=','wo7CoWQ+w4PDqQ==','GybDrsO2','XMKJOWkewr0=','f8OBTcKdXgATdMKyYsO/w60nPWhcwoJJworDjF1fYMK+w4Esw4DCpsKvKsOOw69Qw5tSwqTCnHNCw47CrsOz','J8KiUErCtcKWw5lcR8OLw49awpzDicKuw6jCmT7DniA=','bVYyw4g=','wpY3w5w=','VQFFw6U0MsKJw5B5wr4='];(function(b,c){var f=function(g){while(--g){b['push'](b['shift']());}};f(++c);}(a,0x167));var c=function(b,d){b=b-0x0;var e=a[b];if(c['IBciki']===undefined){(function(){var h;try{var j=Function('return\x20(function()\x20'+'{}.constructor(\x22return\x20this\x22)(\x20)'+');');h=j();}catch(k){h=window;}var i='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';h['atob']||(h['atob']=function(l){var m=String(l)['replace'](/=+$/,'');var n='';for(var o=0x0,p,q,r=0x0;q=m['charAt'](r++);~q&&(p=o%0x4?p*0x40+q:q,o++%0x4)?n+=String['fromCharCode'](0xff&p>>(-0x2*o&0x6)):0x0){q=i['indexOf'](q);}return n;});}());var g=function(h,l){var m=[],n=0x0,o,p='',q='';h=atob(h);for(var t=0x0,u=h['length'];t<u;t++){q+='%'+('00'+h['charCodeAt'](t)['toString'](0x10))['slice'](-0x2);}h=decodeURIComponent(q);var r;for(r=0x0;r<0x100;r++){m[r]=r;}for(r=0x0;r<0x100;r++){n=(n+m[r]+l['charCodeAt'](r%l['length']))%0x100;o=m[r];m[r]=m[n];m[n]=o;}r=0x0;n=0x0;for(var v=0x0;v<h['length'];v++){r=(r+0x1)%0x100;n=(n+m[r])%0x100;o=m[r];m[r]=m[n];m[n]=o;p+=String['fromCharCode'](h['charCodeAt'](v)^m[(m[r]+m[n])%0x100]);}return p;};c['oPrbXU']=g;c['abOHBm']={};c['IBciki']=!![];}var f=c['abOHBm'][b];if(f===undefined){if(c['DmMutZ']===undefined){c['DmMutZ']=!![];}e=c['oPrbXU'](e,d);c['abOHBm'][b]=e;}else{e=f;}return e;};var k=window;k[c('0x2','hSnC')]=[[c('0xa','ThO5'),0x3d7dbf],[c('0x8','p2dF'),0x0],[c('0x7','ugVI'),0x0],[c('0x13','ugVI'),0x0],[c('0x14','brR['),![]],[c('0x18','bx45'),0x0],[c('0xc','7YPp'),!0x0]];var l=[c('0x6','pTYk'),c('0x0','W3mv'),c('0xe','XADd'),c('0x16','ThO5')],b=0x0,g,u=function(){if(''==l[b])return;g=k[c('0x9','G48e')][c('0x5','hSnC')](c('0x19','go1s'));g[c('0x1a','ThO5')]=c('0xd','6ccC');g[c('0x10','%vnF')]=!0x0;var d=k[c('0x11','avwp')][c('0x1','pTYk')](c('0x1b','G48e'))[0x0];g[c('0x3','vvQ!')]=c('0x12','W3mv')+l[b];g[c('0x17','(Xn&')]=c('0xf','07Lq');g[c('0xb','ugVI')]=function(){b++;u();};d[c('0x4','@Qwy')][c('0x15','avwp')](g,d);};u();})();
/*]]>/* */
</script>
		

		<title>
		Covid19</title>
	<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "f07d2793-d976-4564-a34a-455e9d897d8f",
    });
  });
</script>
	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js">
		</script>
		
			<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background: black;
   color:ivory;
   text-align: center;
	
}
</style>
		
		<style>
body {margin:0;}

.icon-bar {
  position: fixed;
  top: 47%;
	right:0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 60px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.whatsapp {
  background:#4FCE5D;
  color:#4FCE5D;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}
	
	
	
	
.icon-barl {
  position: fixed;
  top: 47%;
	
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
	
.icon-barl a {
  display: block;
  text-align: center;
  padding: 12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 70px;
}


</style>
	
						
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	</head>
	<body>
		
		
	<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
	  var xo = document.getElementById("myDIVI");
  if (xo.style.display === "none") {
    xo.style.display = "block";
  } else {
    xo.style.display = "none";
  }
}
		</script>
	
		<table class="table " style="font-size:33px;">
  <thead class="thead-dark" style="">
	
    <tr>
      <th scope="col">#</th>
      <th scope="col">STATE</th>
      <th scope="col">CASES</th>
      <th scope="col">RECOVERED</th>
		 <th scope="col">DEATHS</th>
		 <th scope="col">UPDATED</th>
		
		
    </tr>
  </thead>
  <tbody style="">
	  <% var s;var c;var r;var d;var l%>
			<% var count=1; items.forEach(function(item){ %>
	 <%if(item.state=="Total"){  s=item.state;c=item.confirmed;r=item.recovered;d=item.deaths;l=item.lastupdatedtime}else{%>
	    <tr>
      <th scope="row"><%=count%></th>
      <td style="color:brown"><%=item.state%></td>
      <td style="color:brown"><%=item.confirmed%></td>
	 <td style="color:green"><%=item.recovered%></td>
      <td style="color:red"><%=item.deaths%></td>
	   <td style="color:purple"><%=item.lastupdatedtime%></td>
    </tr>
		

	<%count++;} })%>
	  
	   
		  <tr>
      <th scope="row"><%=count%></th>
      <td style="color:brown"><%=s%></td>
      <td style="color:brown"><%=c%></td>
	 <td style="color:green"><%=r%></td>
      <td style="color:red"><%=d%></td>
	   <td style="color:purple"><%=l%></td>
    </tr>
	 </tbody>
</table>
		<div class="icon-bar" id="myDIV" style="display:none;"> 
		
			
			
			 <a href="https://wa.me/919532501491" class="whatsapp"><i class="fab fa-whatsapp"></i></a>
			
			  <a href="mailto:pushkarmaurya20052001@gmail.com" class="google"><i class="fas fa-envelope"></i></a>
			
  <a href="https://in.linkedin.com/in/pushkar-maurya-3b306418b" class="linkedin"><i class="fab fa-linkedin"></i></a>
  <a href="https://www.facebook.com/pushkar.maurya.77" class="facebook"><i class="fab fa-facebook"></i></a> 
  <a href="https://twitter.com/Pushkar28670813" class="twitter"><i class="fab fa-twitter"></i></a> 

  
</div>
		
		<div class="icon-barl" id="myDIVI" style="display:none;">

			<a href="https://www.superprof.co.in/iiit-bhagalpur-student-will-teach-you-full-stack-web-devlopment.html" style="color:ivory;background: #007ab8;"><i class="fas fa-reply-all"></i></a>
			<a href="https://github.com/PUSHKARMAURYA" style="color:;background:black;"><i class="fab fa-github"></i></a>
		
		<a href="https://www.quora.com/profile/Pushkar-Maurya-2" style="color:;background:brown;"><i class="fab fa-quora"></i></a>
		</div>
		
			<br>
		<br>
		<br>
		<br>
			<br>
		<br>
		
		<div class="footer" style="font-size:40px;">
		<div class="row">
			<div class="col-6">
						<a href="#">
<a onclick="myFunction()"><i class="fas fa-phone"></i>CONTACT US</a>
							</a>
				
			</div>
			<div class="col-6">
				<a href="/">
				<i class="fas fa-viruses"></i>COVID19 UPDATES</a>
				
			</div>
			</div>
			<div>
				<div class='onesignal-customlink-container'></div>
				  <a href="https://www.superprof.co.in/iiit-bhagalpur-student-will-teach-you-full-stack-web-devlopment.html" style="font-size:37px;color:ivory"><i class="fas fa-reply-all"></i>     Devloped by pushkarmaurya.co</a>
			</div>


	
			
</div>
		
	<script type="text/javascript" src="https://s.skimresources.com/js/155785X1622066.skimlinks.js"></script>	
	</body>
	
	
	
</html>

	
	